<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link type="text/css" rel="stylesheet" href="resources/sheet.css">
<style type="text/css">
    .ritz .waffle a {
        color: inherit;
    }

    .ritz .waffle .s16 {
        background-color: #ffffff;
        text-align: right;
        color: #000000;
        font-family: docs-Sarabun, Arial;
        font-size: 11pt;
        vertical-align: bottom;
        white-space: nowrap;
        direction: ltr;
        padding: 2px 3px 2px 3px;
    }

    .ritz .waffle .s5 {
        background-color: #ffffff;
        text-align: left;
        color: #000000;
        font-family: docs-Sarabun, Arial;
        font-size: 12pt;
        vertical-align: bottom;
        white-space: nowrap;
        direction: ltr;
        padding: 2px 3px 2px 3px;
    }

    .ritz .waffle .s11 {
        border-bottom: 1px SOLID #000000;
        border-right: 1px SOLID #000000;
        background-color: #ffffff;
        text-align: left;
        color: #000000;
        font-family: docs-Sarabun, Arial;
        font-size: 12pt;
        vertical-align: middle;
        white-space: nowrap;
        direction: ltr;
        padding: 2px 3px 2px 3px;
    }

    .ritz .waffle .s13 {
        border-right: 1px SOLID #000000;
        background-color: #ffffff;
        text-align: center;
        color: #000000;
        font-family: docs-Sarabun, Arial;
        font-size: 12pt;
        vertical-align: middle;
        white-space: nowrap;
        direction: ltr;
        padding: 2px 3px 2px 3px;
    }

    .ritz .waffle .s8 {
        border-bottom: 1px SOLID #000000;
        background-color: #ffffff;
    }

    .ritz .waffle .s6 {
        background-color: #ffffff;
        text-align: right;
        color: #000000;
        font-family: docs-Sarabun, Arial;
        font-size: 12pt;
        vertical-align: bottom;
        white-space: nowrap;
        direction: ltr;
        padding: 2px 3px 2px 3px;
    }

    .ritz .waffle .s15 {
        background-color: #ffffff;
        text-align: left;
        color: #000000;
        font-family: docs-Sarabun, Arial;
        font-size: 10pt;
        vertical-align: bottom;
        white-space: nowrap;
        direction: ltr;
        padding: 2px 3px 2px 3px;
    }

    .ritz .waffle .s7 {
        background-color: #ffffff;
        text-align: center;
        color: #000000;
        font-family: docs-Sarabun, Arial;
        font-size: 12pt;
        vertical-align: bottom;
        white-space: nowrap;
        direction: ltr;
        padding: 2px 3px 2px 3px;
    }

    .ritz .waffle .s3 {
        background-color: #ffffff;
        text-align: center;
        font-weight: bold;
        color: #000000;
        font-family: docs-Sarabun, Arial;
        font-size: 20pt;
        vertical-align: middle;
        white-space: nowrap;
        direction: ltr;
        padding: 2px 3px 2px 3px;
    }

    .ritz .waffle .s4 {
        background-color: #ffffff;
        text-align: center;
        color: #000000;
        font-family: docs-Sarabun, Arial;
        font-size: 12pt;
        vertical-align: middle;
        white-space: nowrap;
        direction: ltr;
        padding: 2px 3px 2px 3px;
    }

    .ritz .waffle .s17 {
        background-color: #ffffff;
        text-align: left;
        color: #000000;
        font-family: docs-Sarabun, Arial;
        font-size: 11pt;
        vertical-align: bottom;
        white-space: nowrap;
        direction: ltr;
        padding: 2px 3px 2px 3px;
    }

    .ritz .waffle .s9 {
        border-bottom: 1px SOLID #000000;
        border-right: 1px SOLID #000000;
        background-color: #ffffff;
        text-align: center;
        font-weight: bold;
        color: #000000;
        font-family: docs-Sarabun, Arial;
        font-size: 12pt;
        vertical-align: middle;
        white-space: nowrap;
        direction: ltr;
        padding: 2px 3px 2px 3px;
    }

    .ritz .waffle .s12 {
        border-right: 1px SOLID #000000;
        background-color: #ffffff;
        text-align: center;
        color: #000000;
        font-family: docs-Sarabun, Arial;
        font-size: 12pt;
        vertical-align: middle;
        white-space: normal;
        overflow: hidden;
        word-wrap: break-word;
        direction: ltr;
        padding: 2px 3px 2px 3px;
    }

    .ritz .waffle .s1 {
        background-color: #ffffff;
        text-align: right;
        color: #000000;
        font-family: docs-Sarabun, Arial;
        font-size: 10pt;
        vertical-align: middle;
        white-space: nowrap;
        direction: ltr;
        padding: 2px 3px 2px 3px;
    }

    .ritz .waffle .s0 {
        background-color: #ffffff;
        text-align: left;
        color: #000000;
        font-family: docs-Sarabun, Arial;
        font-size: 10pt;
        vertical-align: middle;
        white-space: nowrap;
        direction: ltr;
        padding: 0;
    }

    .ritz .waffle .s10 {
        border-right: 1px SOLID #000000;
        background-color: #ffffff;
        text-align: left;
        color: #000000;
        font-family: docs-Sarabun, Arial;
        font-size: 12pt;
        vertical-align: middle;
        white-space: nowrap;
        direction: ltr;
        padding: 2px 3px 2px 3px;
    }

    .ritz .waffle .s14 {
        border-bottom: 1px SOLID #000000;
        border-right: 1px SOLID #000000;
        background-color: #ffffff;
        text-align: left;
        color: #000000;
        font-family: docs-Sarabun, Arial;
        font-size: 10pt;
        vertical-align: bottom;
        white-space: nowrap;
        direction: ltr;
        padding: 2px 3px 2px 3px;
    }

    .ritz .waffle .s2 {
        background-color: #ffffff;
        text-align: right;
        color: #000000;
        font-family: docs-Sarabun, Arial;
        font-size: 10pt;
        vertical-align: bottom;
        white-space: nowrap;
        direction: ltr;
        padding: 2px 3px 2px 3px;
    }
</style><svg style="display:none;" width="16px" height="16px" viewBox="0 0 16 16" version="1.1"
    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <defs>
        <path id="checked-checkbox-id"
            d="M17,3 L4.75,3 C3.77875,3 3,3.7875 3,4.75 L3,17 C3,17.9625 3.77875,18.75 4.75,18.75 L17,18.75 C17.97125,18.75 18.75,17.9625 18.75,17 L18.75,4.75 C18.75,3.7875 17.97125,3 17,3 L17,3 Z M9.125,15.25 L4.75,10.875 L5.98375,9.64125 L9.125,12.77375 L15.76625,6.1325 L17,7.375 L9.125,15.25 L9.125,15.25 Z"
            transform="translate(-3.000000, -3.000000)"></path>
        <path id="unchecked-checkbox-id"
            d="M17,3.75 L17,16 L4.75,16 L4.75,3.75 L17,3.75 L17,3.75 Z M17,2 L4.75,2 C3.7875,2 3,2.7875 3,3.75 L3,16 C3,16.9625 3.7875,17.75 4.75,17.75 L17,17.75 C17.9625,17.75 18.75,16.9625 18.75,16 L18.75,3.75 C18.75,2.7875 17.9625,2 17,2 L17,2 Z"
            transform="translate(-3.000000, -2.000000)"></path>
    </defs>
</svg>
<div class="ritz grid-container" dir="ltr">
    <table class="waffle" cellspacing="0" cellpadding="0">
        <thead>
            <tr>
                <th class="row-header freezebar-origin-ltr"></th>
                <th id="297571855C0" style="width:129px;" class="column-headers-background">A</th>
                <th id="297571855C1" style="width:100px;" class="column-headers-background">B</th>
                <th id="297571855C2" style="width:100px;" class="column-headers-background">C</th>
                <th id="297571855C3" style="width:100px;" class="column-headers-background">D</th>
                <th id="297571855C4" style="width:109px;" class="column-headers-background">E</th>
                <th id="297571855C5" style="width:100px;" class="column-headers-background">F</th>
                <th id="297571855C6" style="width:100px;" class="column-headers-background">G</th>
                <th id="297571855C7" style="width:100px;" class="column-headers-background">H</th>
                <th id="297571855C8" style="width:100px;" class="column-headers-background">I</th>
                <th id="297571855C9" style="width:34px;" class="column-headers-background">J</th>
                <th id="297571855C10" style="width:59px;" class="column-headers-background">K</th>
                <th id="297571855C11" style="width:34px;" class="column-headers-background">L</th>
                <th id="297571855C12" style="width:100px;" class="column-headers-background">M</th>
            </tr>
        </thead>
        <tbody>
            <tr style="height: 24px">
                <th id="297571855R0" style="height: 24px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 24px">1</div>
                </th>
                <td class="s0" colspan="3" rowspan="4">
                    <div style="width:331px;height:99px;"><img
                            src="https://lh7-rt.googleusercontent.com/sheetsz/AHOq17HoQB6IeqRxTlJUxAc6QAL3JrtEAoqBu0t15gn_XssQHJq_YjUHn23Gun2xlC60-Udqeu2A8N2bYvHhLPbeqQ0b1oBD9mIgJjFqHHu31O6JLzHyHrT3Ccl6vWwrcyq8Be73ONDe=w331-h99?key=KzO8bHvqjrovC61xn0BgFvWk"
                            style="width:inherit;height:inherit;object-fit:scale-down;object-position:left center;" />
                    </div>
                </td>
                <td></td>
                <td class="s1" dir="ltr"></td>
                <td class="s1" dir="ltr"></td>
                <td class="s2"></td>
                <td class="s2"></td>
                <td class="s2" colspan="5">บริษัท ออฟฟิศดีไซน์ จำกัด (สำนักงานใหญ่)</td>
            </tr>
            <tr style="height: 24px">
                <th id="297571855R1" style="height: 24px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 24px">2</div>
                </th>
                <td></td>
                <td class="s1" dir="ltr"></td>
                <td class="s1" dir="ltr"></td>
                <td class="s2"></td>
                <td class="s2"></td>
                <td class="s2" colspan="5">เลขที่ 304 อาคาร วานิชเพลส อารีย์ ห้องเลขที่ 2208 ชั้นที่ 22</td>
            </tr>
            <tr style="height: 24px">
                <th id="297571855R2" style="height: 24px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 24px">3</div>
                </th>
                <td></td>
                <td class="s1" dir="ltr"></td>
                <td class="s1" dir="ltr"></td>
                <td class="s2"></td>
                <td class="s2" colspan="6">ถนน พหลโยธิน แขวงสามเสนใน เขตพญาไท กรุงเทพมหานคร 10400</td>
            </tr>
            <tr style="height: 24px">
                <th id="297571855R3" style="height: 24px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 24px">4</div>
                </th>
                <td></td>
                <td class="s1" dir="ltr"></td>
                <td class="s1" dir="ltr"></td>
                <td class="s2"></td>
                <td class="s2"></td>
                <td class="s2" colspan="5">เลขประจำตัวผู้เสียภาษี 0105547064270</td>
            </tr>
            <tr style="height: 24px">
                <th id="297571855R4" style="height: 24px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 24px">5</div>
                </th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="s1" dir="ltr"></td>
                <td class="s1" dir="ltr"></td>
                <td class="s2"></td>
                <td class="s2"></td>
                <td class="s2" colspan="5">โทร : 02-623-1515</td>
            </tr>
            <tr style="height: 20px">
                <th id="297571855R5" style="height: 20px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 20px">6</div>
                </th>
                <td class="s3" dir="ltr" colspan="13" rowspan="2">เอกสารการฝึกอบรมผู้ใช้งานระบบ CRM</td>
            </tr>
            <tr style="height: 20px">
                <th id="297571855R6" style="height: 20px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 20px">7</div>
                </th>
            </tr>
            <tr style="height: 26px">
                <th id="297571855R7" style="height: 26px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 26px">8</div>
                </th>
                <td class="s4" dir="ltr" colspan="13">เอกสารภายนอกบริษัท</td>
            </tr>
            <tr style="height: 29px">
                <th id="297571855R8" style="height: 29px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 29px">9</div>
                </th>
                <td class="s5"></td>
                <td class="s5"></td>
                <td class="s5"></td>
                <td class="s5"></td>
                <td class="s5"></td>
                <td class="s5"></td>
                <td class="s6"></td>
                <td class="s6" dir="ltr"></td>
                <td class="s6" dir="ltr">เอกสารเลขที่ :</td>
                <td class="s6" dir="ltr" colspan="4"></td>
            </tr>
            <tr style="height: 29px">
                <th id="297571855R9" style="height: 29px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 29px">10</div>
                </th>
                <td class="s5"></td>
                <td class="s5"></td>
                <td class="s5"></td>
                <td class="s5"></td>
                <td class="s5"></td>
                <td class="s5"></td>
                <td class="s6"></td>
                <td class="s6" dir="ltr"></td>
                <td class="s6" dir="ltr"></td>
                <td class="s6" dir="ltr"></td>
                <td class="s6" dir="ltr"></td>
                <td class="s6" dir="ltr"></td>
                <td class="s6" dir="ltr"></td>
            </tr>
            <tr style="height: 29px">
                <th id="297571855R10" style="height: 29px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 29px">11</div>
                </th>
                <td class="s6" dir="ltr">บริษัท / ร้าน : </td>
                <td class="s5" colspan="3"></td>
                <td class="s6" dir="ltr">สาขา : </td>
                <td class="s5" colspan="2"></td>
                <td class="s6" dir="ltr"></td>
                <td class="s6" dir="ltr">โทร :</td>
                <td class="s5" colspan="4"></td>
            </tr>
            <tr style="height: 29px">
                <th id="297571855R11" style="height: 29px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 29px">12</div>
                </th>
                <td class="s6" dir="ltr">สถานที่ :</td>
                <td class="s6" colspan="6"></td>
                <td class="s6" dir="ltr" colspan="2">จำนวนผู้เข้าอบรม :</td>
                <td class="s7" dir="ltr" colspan="3"></td>
                <td class="s5">คน</td>
            </tr>
            <tr style="height: 29px">
                <th id="297571855R12" style="height: 29px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 29px">13</div>
                </th>
                <td class="s6" dir="ltr">วันที่ :</td>
                <td class="s5"></td>
                <td class="s5"></td>
                <td class="s6" dir="ltr">เวลาเริ่ม :</td>
                <td class="s5"></td>
                <td class="s6" dir="ltr">เวลาสิ้นสุด :</td>
                <td class="s5"></td>
                <td class="s6" dir="ltr" colspan="2">บันทึก VDO การสอนให้ลูกค้า :</td>
                <td class="s4" dir="ltr"><svg width="16px" height="16px" viewBox="0 0 16 16" style="display:inline;">
                        <use href="#unchecked-checkbox-id" fill="#000000" />
                    </svg></td>
                <td class="s5">ทำแล้ว</td>
                <td class="s4" dir="ltr"><svg width="16px" height="16px" viewBox="0 0 16 16" style="display:inline;">
                        <use href="#unchecked-checkbox-id" fill="#000000" />
                    </svg></td>
                <td class="s5">ไม่ได้ทำ</td>
            </tr>
            <tr style="height: 29px">
                <th id="297571855R13" style="height: 29px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 29px">14</div>
                </th>
                <td class="s8"></td>
                <td class="s8"></td>
                <td class="s8"></td>
                <td class="s8"></td>
                <td class="s8"></td>
                <td class="s8"></td>
                <td class="s8"></td>
                <td class="s8"></td>
                <td class="s8"></td>
                <td class="s8"></td>
                <td class="s8"></td>
                <td class="s8"></td>
                <td class="s8"></td>
            </tr>
            <tr style="height: 59px">
                <th id="297571855R14" style="height: 59px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 59px">15</div>
                </th>
                <td class="s9" colspan="2">หัวข้อ</td>
                <td class="s9" colspan="10">รายละเอียด</td>
                <td class="s9">สถานะ</td>
            </tr>
            <tr style="height: 29px">
                <th id="297571855R15" style="height: 29px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 29px">16</div>
                </th>
                <td class="s10" colspan="2" rowspan="8"></td>
                <td class="s11" dir="ltr" colspan="3" rowspan="2"> การทำงานของ LINE Member</td>
                <td class="s11" dir="ltr" colspan="7"> การเชื่อมต่อ LINE Member กับระบบ CRM </td>
                <td class="s11"></td>
            </tr>
            <tr style="height: 29px">
                <th id="297571855R16" style="height: 29px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 29px">17</div>
                </th>
                <td class="s11" dir="ltr" colspan="7"> การผูกบัญชี LINE กับโปรไฟล์สมาชิกในระบบ CRM</td>
                <td class="s11"></td>
            </tr>
            <tr style="height: 29px">
                <th id="297571855R17" style="height: 29px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 29px">18</div>
                </th>
                <td class="s11" dir="ltr" colspan="3" rowspan="4"> การใช้งาน Back Office ของระบบ CRM</td>
                <td class="s11" dir="ltr" colspan="7"> การเข้าสู่ระบบ Back Office ด้วยบัญชีผู้ดูแล</td>
                <td class="s11"></td>
            </tr>
            <tr style="height: 29px">
                <th id="297571855R18" style="height: 29px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 29px">19</div>
                </th>
                <td class="s10" dir="ltr" colspan="7"> การจัดการข้อมูลหลัก เช่น รายชื่อลูกค้า, การตั้งค่าการใช้งานระบบ,
                    และการกำหนด</td>
                <td class="s11" rowspan="2"></td>
            </tr>
            <tr style="height: 29px">
                <th id="297571855R19" style="height: 29px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 29px">20</div>
                </th>
                <td class="s11" dir="ltr" colspan="7">สิทธิ์การใช้งาน</td>
            </tr>
            <tr style="height: 29px">
                <th id="297571855R20" style="height: 29px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 29px">21</div>
                </th>
                <td class="s11" dir="ltr" colspan="7"> การดูข้อมูลสมาชิกและตรวจสอบกิจกรรมต่างๆ ของสมาชิก</td>
                <td class="s11"></td>
            </tr>
            <tr style="height: 29px">
                <th id="297571855R21" style="height: 29px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 29px">22</div>
                </th>
                <td class="s10" dir="ltr" colspan="3"> การสร้างหรือสมัครสมาชิก, สร้างกลุ่มตามระดับ,
                    สร้างกลุ่มเพื่อส่งคูปอง</td>
                <td class="s11" dir="ltr" colspan="7"> วิธีการสมัครสมาชิกใหม่ในระบบ: กรอกข้อมูลพื้นฐาน เช่น ชื่อ,
                    เบอร์โทร, อีเมล</td>
                <td class="s11"></td>
            </tr>
            <tr style="height: 29px">
                <th id="297571855R22" style="height: 29px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 29px">23</div>
                </th>
                <td class="s10" dir="ltr" colspan="3"> สร้างกลุ่มเพื่อส่งคูปอง</td>
                <td class="s11" dir="ltr" colspan="7"> การสร้างกลุ่มสมาชิกตามระดับ เช่น ระดับ Silver, Gold, Platinum
                </td>
                <td class="s11"></td>
            </tr>
            <tr style="height: 29px">
                <th id="297571855R23" style="height: 29px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 29px">24</div>
                </th>
                <td class="s12" colspan="2">สอนการใช้งานระบบสำหรับ</td>
                <td class="s11" dir="ltr" colspan="3"></td>
                <td class="s11" dir="ltr" colspan="7"> การตั้งค่ากลุ่มสมาชิกเพื่อส่งคูปองเฉพาะกิจ เช่น
                    คูปองโปรโมชั่นเฉพาะระดับ Gold</td>
                <td class="s11"></td>
            </tr>
            <tr style="height: 29px">
                <th id="297571855R24" style="height: 29px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 29px">25</div>
                </th>
                <td class="s13" colspan="2">พนักงานหน้าร้าน</td>
                <td class="s11" dir="ltr" colspan="3" rowspan="2"> การแก้ไขคะแนนหลังบ้านและข้อมูลสมาชิก</td>
                <td class="s11" dir="ltr" colspan="7"> การปรับแก้คะแนนสะสมของสมาชิก เช่น เพิ่ม/ลดคะแนนด้วยเหตุผลเฉพาะ
                </td>
                <td class="s11"></td>
            </tr>
            <tr style="height: 29px">
                <th id="297571855R25" style="height: 29px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 29px">26</div>
                </th>
                <td class="s11" colspan="2" rowspan="8"></td>
                <td class="s11" dir="ltr" colspan="7"> การแก้ไขข้อมูลส่วนตัว เช่น เบอร์โทรศัพท์, ที่อยู่ หรือข้อมูลอื่นๆ
                    ผ่าน Back Office</td>
                <td class="s11"></td>
            </tr>
            <tr style="height: 29px">
                <th id="297571855R26" style="height: 29px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 29px">27</div>
                </th>
                <td class="s11" dir="ltr" colspan="3" rowspan="2"> การเพิ่มสโตร์หลังบ้าน, การสร้างกฎแลกคะแนน</td>
                <td class="s11" dir="ltr" colspan="7"> การเพิ่มข้อมูลสโตร์ใหม่ในระบบ</td>
                <td class="s11"></td>
            </tr>
            <tr style="height: 29px">
                <th id="297571855R27" style="height: 29px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 29px">28</div>
                </th>
                <td class="s11" dir="ltr" colspan="7"> การสร้างกฎการแลกคะแนน เช่น 100 คะแนน = ส่วนลด 50 บาท</td>
                <td class="s11"></td>
            </tr>
            <tr style="height: 29px">
                <th id="297571855R28" style="height: 29px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 29px">29</div>
                </th>
                <td class="s11" dir="ltr" colspan="10"> การสร้างคูปองส่วนลด, การส่งคูปองให้สมาชิก</td>
                <td class="s11"></td>
            </tr>
            <tr style="height: 29px">
                <th id="297571855R29" style="height: 29px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 29px">30</div>
                </th>
                <td class="s11" dir="ltr" colspan="10"> การเพิ่ม Top Up และรายงานการเติม Top Up</td>
                <td class="s11"></td>
            </tr>
            <tr style="height: 29px">
                <th id="297571855R30" style="height: 29px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 29px">31</div>
                </th>
                <td class="s11" dir="ltr" colspan="10"> การดูรายงาน Top Up</td>
                <td class="s11"></td>
            </tr>
            <tr style="height: 29px">
                <th id="297571855R31" style="height: 29px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 29px">32</div>
                </th>
                <td class="s11" dir="ltr" colspan="10"> การดูรายงานภาครวมของสมาชิก</td>
                <td class="s11"></td>
            </tr>
            <tr style="height: 29px">
                <th id="297571855R32" style="height: 29px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 29px">33</div>
                </th>
                <td class="s11" dir="ltr" colspan="10"> การใช้งานการเปลี่ยนแปลงเบอร์สมาชิก, การลบสมาชิก</td>
                <td class="s14"></td>
            </tr>
            <tr style="height: 29px">
                <th id="297571855R33" style="height: 29px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 29px">34</div>
                </th>
                <td class="s15"></td>
                <td class="s15"></td>
                <td class="s15"></td>
                <td class="s15"></td>
                <td class="s15"></td>
                <td class="s15"></td>
                <td class="s15"></td>
                <td class="s15"></td>
                <td class="s15"></td>
                <td class="s15"></td>
                <td class="s15"></td>
                <td class="s15"></td>
                <td class="s15"></td>
            </tr>
            <tr style="height: 29px">
                <th id="297571855R34" style="height: 29px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 29px">35</div>
                </th>
                <td class="s15"></td>
                <td class="s15"></td>
                <td class="s15"></td>
                <td class="s15"></td>
                <td class="s15"></td>
                <td class="s15"></td>
                <td class="s15"></td>
                <td class="s15"></td>
                <td class="s15"></td>
                <td class="s15"></td>
                <td class="s15"></td>
                <td class="s15"></td>
                <td class="s15"></td>
            </tr>
            <tr style="height: 29px">
                <th id="297571855R35" style="height: 29px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 29px">36</div>
                </th>
                <td class="s5" dir="ltr" colspan="13">บันทึกเพิ่มเติม :
                    ......................................................................................................................................................................................................................................................................
                </td>
            </tr>
            <tr style="height: 29px">
                <th id="297571855R36" style="height: 29px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 29px">37</div>
                </th>
                <td class="s5" dir="ltr" colspan="13">
                    ................................................................................................................................................................................................................................................................................................
                </td>
            </tr>
            <tr style="height: 29px">
                <th id="297571855R37" style="height: 29px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 29px">38</div>
                </th>
                <td class="s5" dir="ltr" colspan="13">
                    ................................................................................................................................................................................................................................................................................................
                </td>
            </tr>
            <tr style="height: 29px">
                <th id="297571855R38" style="height: 29px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 29px">39</div>
                </th>
                <td class="s5" dir="ltr" colspan="13">
                    ................................................................................................................................................................................................................................................................................................
                </td>
            </tr>
            <tr style="height: 29px">
                <th id="297571855R39" style="height: 29px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 29px">40</div>
                </th>
                <td class="s15"></td>
                <td class="s15"></td>
                <td class="s15"></td>
                <td class="s15"></td>
                <td class="s15"></td>
                <td class="s15"></td>
                <td class="s15"></td>
                <td class="s15"></td>
                <td class="s15"></td>
                <td class="s15"></td>
                <td class="s15"></td>
                <td class="s15"></td>
                <td class="s15"></td>
            </tr>
            <tr style="height: 29px">
                <th id="297571855R40" style="height: 29px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 29px">41</div>
                </th>
                <td class="s16" dir="ltr">ผู้เข้าอบรม : </td>
                <td class="s17" colspan="5"></td>
                <td class="s16" dir="ltr">ตำแหน่ง :</td>
                <td class="s17" colspan="3"></td>
                <td class="s16" dir="ltr">วันที่ :</td>
                <td class="s17" colspan="2"></td>
            </tr>
            <tr style="height: 29px">
                <th id="297571855R41" style="height: 29px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 29px">42</div>
                </th>
                <td class="s16" dir="ltr">ผู้เข้าอบรม : </td>
                <td class="s17" colspan="5"></td>
                <td class="s16" dir="ltr">ตำแหน่ง :</td>
                <td class="s17" colspan="3"></td>
                <td class="s16" dir="ltr">วันที่ :</td>
                <td class="s17" colspan="2"></td>
            </tr>
            <tr style="height: 29px">
                <th id="297571855R42" style="height: 29px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 29px">43</div>
                </th>
                <td class="s16" dir="ltr">ผู้เข้าอบรม : </td>
                <td class="s17" colspan="5"></td>
                <td class="s16" dir="ltr">ตำแหน่ง :</td>
                <td class="s17" colspan="3"></td>
                <td class="s16" dir="ltr">วันที่ :</td>
                <td class="s17" colspan="2"></td>
            </tr>
            <tr style="height: 29px">
                <th id="297571855R43" style="height: 29px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 29px">44</div>
                </th>
                <td class="s16" dir="ltr">ผู้เข้าอบรม : </td>
                <td class="s17" colspan="5"></td>
                <td class="s16" dir="ltr">ตำแหน่ง :</td>
                <td class="s17" colspan="3"></td>
                <td class="s16" dir="ltr">วันที่ :</td>
                <td class="s17" colspan="2"></td>
            </tr>
            <tr style="height: 29px">
                <th id="297571855R44" style="height: 29px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 29px">45</div>
                </th>
                <td class="s16" dir="ltr">ผู้เข้าอบรม : </td>
                <td class="s17" colspan="5"></td>
                <td class="s16" dir="ltr">ตำแหน่ง :</td>
                <td class="s17" colspan="3"></td>
                <td class="s16" dir="ltr">วันที่ :</td>
                <td class="s17" colspan="2"></td>
            </tr>
            <tr style="height: 29px">
                <th id="297571855R45" style="height: 29px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 29px">46</div>
                </th>
                <td class="s17"></td>
                <td class="s17"></td>
                <td class="s17"></td>
                <td class="s17"></td>
                <td class="s17"></td>
                <td class="s17"></td>
                <td class="s17"></td>
                <td class="s17"></td>
                <td class="s17"></td>
                <td class="s17"></td>
                <td class="s17"></td>
                <td class="s17"></td>
                <td class="s17"></td>
            </tr>
            <tr style="height: 29px">
                <th id="297571855R46" style="height: 29px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 29px">47</div>
                </th>
                <td class="s16" dir="ltr">พนักงานผู้สอน : </td>
                <td class="s17" colspan="5"></td>
                <td class="s16" dir="ltr">ตำแหน่ง :</td>
                <td class="s17" colspan="3"></td>
                <td class="s16" dir="ltr">วันที่ :</td>
                <td class="s17" colspan="2"></td>
            </tr>
            <tr style="height: 29px">
                <th id="297571855R47" style="height: 29px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 29px">48</div>
                </th>
                <td class="s16" dir="ltr">พนักงานผู้สอน : </td>
                <td class="s17" colspan="5"></td>
                <td class="s16" dir="ltr">ตำแหน่ง :</td>
                <td class="s17" colspan="3"></td>
                <td class="s16" dir="ltr">วันที่ :</td>
                <td class="s17" colspan="2"></td>
            </tr>
        </tbody>
    </table>
</div>