<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link type="text/css" rel="stylesheet" href="resources/sheet.css">
<style type="text/css">
    .ritz .waffle a {
        color: inherit;
    }

    .ritz .waffle .s12 {
        background-color: #ffffff;
        text-align: right;
        color: #000000;
        font-family: docs-Sarabun, Arial;
        font-size: 11pt;
        vertical-align: bottom;
        white-space: nowrap;
        direction: ltr;
        padding: 2px 3px 2px 3px;
    }

    .ritz .waffle .s5 {
        background-color: #ffffff;
        text-align: left;
        color: #000000;
        font-family: docs-Sarabun, Arial;
        font-size: 12pt;
        vertical-align: bottom;
        white-space: nowrap;
        direction: ltr;
        padding: 2px 3px 2px 3px;
    }

    .ritz .waffle .s10 {
        background-color: #ffffff;
        text-align: left;
        color: #000000;
        font-family: Arial;
        font-size: 11pt;
        vertical-align: bottom;
        white-space: nowrap;
        direction: ltr;
        padding: 2px 3px 2px 3px;
    }

    .ritz .waffle .s6 {
        background-color: #ffffff;
        text-align: right;
        color: #000000;
        font-family: docs-Sarabun, Arial;
        font-size: 12pt;
        vertical-align: bottom;
        white-space: nowrap;
        direction: ltr;
        padding: 2px 3px 2px 3px;
    }

    .ritz .waffle .s15 {
        background-color: #ffffff;
        text-align: left;
        color: #000000;
        font-family: docs-Sarabun, Arial;
        font-size: 10pt;
        vertical-align: bottom;
        white-space: nowrap;
        direction: ltr;
        padding: 2px 3px 2px 3px;
    }

    .ritz .waffle .s13 {
        background-color: #ffffff;
        text-align: right;
        color: #000000;
        font-family: docs-docs-Sarabun, Arial;
        font-size: 11pt;
        vertical-align: bottom;
        white-space: nowrap;
        direction: ltr;
        padding: 2px 3px 2px 3px;
    }

    .ritz .waffle .s7 {
        background-color: #ffffff;
        text-align: center;
        color: #000000;
        font-family: docs-Sarabun, Arial;
        font-size: 12pt;
        vertical-align: bottom;
        white-space: nowrap;
        direction: ltr;
        padding: 2px 3px 2px 3px;
    }

    .ritz .waffle .s3 {
        background-color: #ffffff;
        text-align: center;
        font-weight: bold;
        color: #000000;
        font-family: docs-Sarabun, Arial;
        font-size: 20pt;
        vertical-align: middle;
        white-space: nowrap;
        direction: ltr;
        padding: 2px 3px 2px 3px;
    }

    .ritz .waffle .s8 {
        background-color: #ffffff;
        text-align: right;
        color: #000000;
        font-family: docs-Sarabun, Arial;
        font-size: 12pt;
        vertical-align: middle;
        white-space: nowrap;
        direction: ltr;
        padding: 2px 3px 2px 3px;
    }

    .ritz .waffle .s9 {
        background-color: #ffffff;
        text-align: left;
        color: #000000;
        font-family: docs-Sarabun, Arial;
        font-size: 11pt;
        vertical-align: bottom;
        white-space: nowrap;
        direction: ltr;
        padding: 2px 3px 2px 3px;
    }

    .ritz .waffle .s16 {
        background-color: #ffffff;
        text-align: left;
        color: #666666;
        font-family: docs-Sarabun, Arial;
        font-size: 10pt;
        vertical-align: bottom;
        white-space: nowrap;
        direction: ltr;
        padding: 2px 3px 2px 3px;
    }

    .ritz .waffle .s1 {
        background-color: #ffffff;
        text-align: right;
        color: #000000;
        font-family: docs-Sarabun, Arial;
        font-size: 10pt;
        vertical-align: middle;
        white-space: nowrap;
        direction: ltr;
        padding: 2px 3px 2px 3px;
    }

    .ritz .waffle .s17 {
        background-color: #ffffff;
        text-align: right;
        color: #666666;
        font-family: docs-Sarabun, Arial;
        font-size: 10pt;
        vertical-align: bottom;
        white-space: nowrap;
        direction: ltr;
        padding: 2px 3px 2px 3px;
    }

    .ritz .waffle .s0 {
        background-color: #ffffff;
        text-align: left;
        color: #000000;
        font-family: docs-Sarabun, Arial;
        font-size: 10pt;
        vertical-align: middle;
        white-space: nowrap;
        direction: ltr;
        padding: 0;
    }

    .ritz .waffle .s11 {
        background-color: #ffffff;
        text-align: center;
        color: #000000;
        font-family: docs-Sarabun, Arial;
        font-size: 11pt;
        vertical-align: bottom;
        white-space: nowrap;
        direction: ltr;
        padding: 2px 3px 2px 3px;
    }

    .ritz .waffle .s4 {
        background-color: #ffffff;
        text-align: center;
        color: #434343;
        font-family: docs-Sarabun, Arial;
        font-size: 12pt;
        vertical-align: bottom;
        white-space: nowrap;
        direction: ltr;
        padding: 2px 3px 2px 3px;
    }

    .ritz .waffle .s14 {
        background-color: #ffffff;
        text-align: center;
        color: #000000;
        font-family: docs-docs-Sarabun, Arial;
        font-size: 11pt;
        vertical-align: bottom;
        white-space: nowrap;
        direction: ltr;
        padding: 2px 3px 2px 3px;
    }

    .ritz .waffle .s2 {
        background-color: #ffffff;
        text-align: right;
        color: #000000;
        font-family: docs-Sarabun, Arial;
        font-size: 10pt;
        vertical-align: bottom;
        white-space: nowrap;
        direction: ltr;
        padding: 2px 3px 2px 3px;
    }

    .waffle {
        margin: 16px;
    }
</style>
<div class="ritz grid-container" dir="ltr">
    <table class="waffle" cellspacing="0" cellpadding="0">
        <tbody>
            <tr style="height: 24px">
                <td class="s0" colspan="3" rowspan="4">
                    <div style="width:324px;height:99px;"><img
                            src="https://lh7-rt.googleusercontent.com/sheetsz/AHOq17FAXrxNU0cy-7SJKDpF6YNu2BDYZP3Y6YyeU-tmtf262MyklASe1PYigYTpbfO3w8GHYE7LMxnotfWA5-nV6qyO3Of7_12lJAk2-GXTrPwyt25zHV2sy9vXllFSSPwAhrwErj6F=w324-h99?key=KzO8bHvqjrovC61xn0BgFvWk"
                            style="width:inherit;height:inherit;object-fit:scale-down;object-position:left center;" />
                    </div>
                </td>
                <td></td>
                <td class="s1" dir="ltr"></td>
                <td class="s1" dir="ltr"></td>
                <td class="s2" colspan="4">บริษัท ออฟฟิศดีไซน์ จำกัด (สำนักงานใหญ่)</td>
            </tr>
            <tr style="height: 24px">
                <td></td>
                <td class="s1" dir="ltr"></td>
                <td class="s1" dir="ltr"></td>
                <td class="s2" colspan="4">เลขที่ 304 อาคาร วานิชเพลส อารีย์ ห้องเลขที่ 2208 ชั้นที่ 22</td>
            </tr>
            <tr style="height: 24px">
                <td></td>
                <td class="s1" dir="ltr"></td>
                <td class="s1" dir="ltr"></td>
                <td class="s2" colspan="4">ถนน พหลโยธิน แขวงสามเสนใน เขตพญาไท กรุงเทพมหานคร 10400</td>
            </tr>
            <tr style="height: 24px">
                <td></td>
                <td class="s1" dir="ltr"></td>
                <td class="s1" dir="ltr"></td>
                <td class="s2" colspan="4">เลขประจำตัวผู้เสียภาษี 0105547064270</td>
            </tr>
            <tr style="height: 24px">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="s1" dir="ltr"></td>
                <td class="s1" dir="ltr"></td>
                <td class="s2" colspan="4">โทร : 02-623-1515</td>
            </tr>
            <tr style="height: 24px">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="s1" dir="ltr"></td>
                <td class="s1" dir="ltr"></td>
                <td class="s2"></td>
                <td class="s2"></td>
                <td class="s2"></td>
                <td class="s2"></td>
            </tr>
            <tr style="height: 20px">
                <td class="s3" dir="ltr" colspan="10" rowspan="3">เอกสารการติดตั้งระบบและอุปกรณ์ประจำปี 2025</td>
            </tr>
            <tr style="height: 20px">
            </tr>
            <tr style="height: 20px">
            </tr>
            <tr style="height: 26px">
                <td class="s4" colspan="10">POS / KIOSK / Printer / Queue / CRM / E - Menu / Warehouse</td>
            </tr>
            <tr style="height: 26px">
                <td class="s4"></td>
                <td class="s4"></td>
                <td class="s4"></td>
                <td class="s4"></td>
                <td class="s4"></td>
                <td class="s4"></td>
                <td class="s4"></td>
                <td class="s4"></td>
                <td class="s4"></td>
                <td class="s4"></td>
            </tr>
            <tr style="height: 26px">
                <td class="s5"></td>
                <td class="s5"></td>
                <td class="s5"></td>
                <td class="s5"></td>
                <td class="s5"></td>
                <td class="s5"></td>
                <td class="s5"></td>
                <td class="s5"></td>
                <td class="s5"></td>
                <td class="s5"></td>
            </tr>
            <tr style="height: 26px">
                <td class="s5"></td>
                <td class="s5"></td>
                <td class="s5"></td>
                <td class="s5"></td>
                <td class="s5"></td>
                <td class="s5"></td>
                <td class="s6"></td>
                <td class="s6" dir="ltr">เอกสารเลขที่ :</td>
                <td class="s6" colspan="2"></td>
            </tr>
            <tr style="height: 26px">
                <td class="s5"></td>
                <td class="s5"></td>
                <td class="s5"></td>
                <td class="s5"></td>
                <td class="s5"></td>
                <td class="s5"></td>
                <td class="s5"></td>
                <td class="s5"></td>
                <td class="s5"></td>
                <td class="s5"></td>
            </tr>
            <tr style="height: 26px">
                <td class="s6" dir="ltr">บริษัท / ร้าน : </td>
                <td class="s7" dir="ltr" colspan="3"></td>
                <td class="s6" dir="ltr">สาขา :</td>
                <td class="s7" dir="ltr" colspan="2"></td>
                <td class="s6" dir="ltr">วันที่ติดตั้ง :</td>
                <td class="s7" dir="ltr" colspan="2"></td>
            </tr>
            <tr style="height: 26px">
                <td class="s5"></td>
                <td class="s5"></td>
                <td class="s5"></td>
                <td class="s5"></td>
                <td class="s5"></td>
                <td class="s5"></td>
                <td class="s5"></td>
                <td class="s5"></td>
                <td class="s5"></td>
                <td class="s5"></td>
            </tr>
            <tr style="height: 26px">
                <td class="s5"></td>
                <td class="s5"></td>
                <td class="s5"></td>
                <td class="s5"></td>
                <td class="s5"></td>
                <td class="s5"></td>
                <td class="s5"></td>
                <td class="s5"></td>
                <td class="s5"></td>
                <td class="s5"></td>
            </tr>
            <tr style="height: 29px">
                <td class="s6" colspan="4">ขั้นตอนการจัดส่งอุปกรณ์ไปยังบริษัท / ร้าน : </td>
                <td class="s8"><svg width="16px" height="16px" viewBox="0 0 16 16" style="display:inline;">
                        <use href="#unchecked-checkbox-id" fill="#000000" />
                    </svg></td>
                <td class="s5" colspan="2"> เจ้าหน้าที่เดินทางไปติดตั้ง</td>
                <td class="s8"><svg width="16px" height="16px" viewBox="0 0 16 16" style="display:inline;">
                        <use href="#unchecked-checkbox-id" fill="#000000" />
                    </svg></td>
                <td class="s5" colspan="2"> ส่งเครื่องไป</td>
            </tr>
            <tr style="height: 29px">
                <td class="s5"></td>
                <td class="s5"></td>
                <td class="s5"></td>
                <td class="s5"></td>
                <td class="s8"><svg width="16px" height="16px" viewBox="0 0 16 16" style="display:inline;">
                        <use href="#unchecked-checkbox-id" fill="#000000" />
                    </svg></td>
                <td class="s5" colspan="2"> ติดตั้งระบบ Online</td>
                <td class="s5"></td>
                <td class="s5"></td>
                <td class="s5"></td>
            </tr>
            <tr style="height: 29px">
                <td class="s5"></td>
                <td class="s5"></td>
                <td class="s5"></td>
                <td class="s5"></td>
                <td class="s6" dir="ltr"></td>
                <td class="s5"></td>
                <td class="s5"></td>
                <td class="s5"></td>
                <td class="s5"></td>
                <td class="s5"></td>
            </tr>
            <tr style="height: 29px">
                <td class="s8"><svg width="16px" height="16px" viewBox="0 0 16 16" style="display:inline;">
                        <use href="#unchecked-checkbox-id" fill="#000000" />
                    </svg></td>
                <td class="s5" colspan="4"> ชุด POS และ อุปกรณ์</td>
                <td class="s5"></td>
                <td class="s5"></td>
                <td class="s5"></td>
                <td class="s5"></td>
                <td class="s5"></td>
            </tr>
            <tr style="height: 29px">
                <td class="s8"><svg width="16px" height="16px" viewBox="0 0 16 16" style="display:inline;">
                        <use href="#unchecked-checkbox-id" fill="#000000" />
                    </svg></td>
                <td class="s5" colspan="2"> VIVIPOS (Monitor 1)</td>
                <td class="s5"></td>
                <td class="s8"><svg width="16px" height="16px" viewBox="0 0 16 16" style="display:inline;">
                        <use href="#unchecked-checkbox-id" fill="#000000" />
                    </svg></td>
                <td class="s5" colspan="2"> VIVIPOS (Monitor 2)</td>
                <td class="s5"></td>
                <td class="s5"></td>
                <td class="s5"></td>
            </tr>
            <tr style="height: 29px">
                <td class="s8"><svg width="16px" height="16px" viewBox="0 0 16 16" style="display:inline;">
                        <use href="#unchecked-checkbox-id" fill="#000000" />
                    </svg></td>
                <td class="s5" colspan="2"> Receipt Printer</td>
                <td class="s5"></td>
                <td class="s8"><svg width="16px" height="16px" viewBox="0 0 16 16" style="display:inline;">
                        <use href="#unchecked-checkbox-id" fill="#000000" />
                    </svg></td>
                <td class="s5" colspan="2"> Label Printer</td>
                <td class="s5"></td>
                <td class="s5"></td>
                <td class="s5"></td>
            </tr>
            <tr style="height: 29px">
                <td class="s8"><svg width="16px" height="16px" viewBox="0 0 16 16" style="display:inline;">
                        <use href="#unchecked-checkbox-id" fill="#000000" />
                    </svg></td>
                <td class="s5" colspan="2"> Kitchen Printer</td>
                <td class="s5"></td>
                <td class="s8"><svg width="16px" height="16px" viewBox="0 0 16 16" style="display:inline;">
                        <use href="#unchecked-checkbox-id" fill="#000000" />
                    </svg></td>
                <td class="s5" colspan="5"> อุปกรณ์อื่นๆ โปรดระบุ
                    ...............................................................................................</td>
            </tr>
            <tr style="height: 29px">
                <td class="s5"></td>
                <td class="s5"></td>
                <td class="s5"></td>
                <td class="s5"></td>
                <td class="s5"></td>
                <td class="s5"></td>
                <td class="s5"></td>
                <td class="s5"></td>
                <td class="s5"></td>
                <td class="s5"></td>
            </tr>
            <tr style="height: 29px">
                <td class="s8"><svg width="16px" height="16px" viewBox="0 0 16 16" style="display:inline;">
                        <use href="#unchecked-checkbox-id" fill="#000000" />
                    </svg></td>
                <td class="s5" colspan="2"> KIOSK</td>
                <td class="s5"></td>
                <td class="s5"></td>
                <td class="s5"></td>
                <td class="s5"></td>
                <td class="s5"></td>
                <td class="s5"></td>
                <td class="s5"></td>
            </tr>
            <tr style="height: 29px">
                <td class="s8"><svg width="16px" height="16px" viewBox="0 0 16 16" style="display:inline;">
                        <use href="#unchecked-checkbox-id" fill="#000000" />
                    </svg></td>
                <td class="s5" colspan="2"> ระบบ Queue</td>
                <td class="s5"></td>
                <td class="s5"></td>
                <td class="s5"></td>
                <td class="s5"></td>
                <td class="s5"></td>
                <td class="s5"></td>
                <td class="s5"></td>
            </tr>
            <tr style="height: 29px">
                <td class="s8"><svg width="16px" height="16px" viewBox="0 0 16 16" style="display:inline;">
                        <use href="#unchecked-checkbox-id" fill="#000000" />
                    </svg></td>
                <td class="s5" colspan="2"> ระบบ CRM</td>
                <td class="s5"></td>
                <td class="s5"></td>
                <td class="s5"></td>
                <td class="s5"></td>
                <td class="s5"></td>
                <td class="s5"></td>
                <td class="s5"></td>
            </tr>
            <tr style="height: 29px">
                <td class="s8"><svg width="16px" height="16px" viewBox="0 0 16 16" style="display:inline;">
                        <use href="#unchecked-checkbox-id" fill="#000000" />
                    </svg></td>
                <td class="s5" colspan="2"> ระบบ E - Menu</td>
                <td class="s5"></td>
                <td class="s5"></td>
                <td class="s5"></td>
                <td class="s5"></td>
                <td class="s5"></td>
                <td class="s5"></td>
                <td class="s5"></td>
            </tr>
            <tr style="height: 29px">
                <td class="s8"><svg width="16px" height="16px" viewBox="0 0 16 16" style="display:inline;">
                        <use href="#unchecked-checkbox-id" fill="#000000" />
                    </svg></td>
                <td class="s5" colspan="2"> ระบบ Warehouse</td>
                <td class="s5"></td>
                <td class="s5"></td>
                <td class="s5"></td>
                <td class="s5"></td>
                <td class="s5"></td>
                <td class="s5"></td>
                <td class="s5"></td>
            </tr>
            <tr style="height: 29px">
                <td class="s8"><svg width="16px" height="16px" viewBox="0 0 16 16" style="display:inline;">
                        <use href="#unchecked-checkbox-id" fill="#000000" />
                    </svg></td>
                <td class="s5" dir="ltr" colspan="4"> ระบบอื่นๆ โปรดระบุ
                    ................................................................</td>
                <td class="s5"></td>
                <td class="s5"></td>
                <td class="s5"></td>
                <td class="s5"></td>
                <td class="s5"></td>
            </tr>
            <tr style="height: 29px">
                <td class="s5"></td>
                <td class="s5"></td>
                <td class="s5"></td>
                <td class="s5"></td>
                <td class="s5"></td>
                <td class="s5"></td>
                <td class="s5"></td>
                <td class="s5"></td>
                <td class="s5"></td>
                <td class="s5"></td>
            </tr>
            <tr style="height: 29px">
                <td class="s5"></td>
                <td class="s5"></td>
                <td class="s5"></td>
                <td class="s5"></td>
                <td class="s5"></td>
                <td class="s5"></td>
                <td class="s5"></td>
                <td class="s5"></td>
                <td class="s5"></td>
                <td class="s5"></td>
            </tr>
            <tr style="height: 29px">
                <td class="s5"></td>
                <td class="s5" colspan="8">รายละเอียดเพิ่มเติม / หมายเหตุ :
                    ...................................................................................................................................................................................................
                </td>
                <td class="s5"></td>
            </tr>
            <tr style="height: 29px">
                <td class="s5"></td>
                <td class="s5" colspan="8">
                    ...............................................................................................................................................................................................................................................................................
                </td>
                <td class="s5"></td>
            </tr>
            <tr style="height: 29px">
                <td class="s5"></td>
                <td class="s5" colspan="8">
                    ...............................................................................................................................................................................................................................................................................
                </td>
                <td class="s5"></td>
            </tr>
            <tr style="height: 26px">
                <td class="s5"></td>
                <td class="s5"></td>
                <td class="s5"></td>
                <td class="s5"></td>
                <td class="s5"></td>
                <td class="s5"></td>
                <td class="s5"></td>
                <td class="s5"></td>
                <td class="s5"></td>
                <td class="s5"></td>
            </tr>
            <tr style="height: 29px">
                <td class="s5"></td>
                <td class="s5"></td>
                <td class="s5"></td>
                <td class="s5"></td>
                <td class="s5"></td>
                <td class="s5"></td>
                <td class="s5"></td>
                <td class="s5"></td>
                <td class="s5"></td>
                <td class="s5"></td>
            </tr>
            <tr style="height: 29px">
                <td class="s9 softmerge">
                    <div class="softmerge-inner" style="width:119px;left:-1px">พนักงานผู้ให้บริการ : </div>
                </td>
                <td class="s10" colspan="2"></td>
                <td class="s11">ตำแหน่ง :</td>
                <td class="s10"></td>
                <td class="s12">ผู้รับบริการ : </td>
                <td class="s10"></td>
                <td class="s10"></td>
                <td class="s11">ตำแหน่ง :</td>
                <td class="s10"></td>
            </tr>
            <tr style="height: 29px">
                <td class="s10"></td>
                <td class="s11" colspan="2">(กรุณาเขียนตัวบรรจง)</td>
                <td class="s10"></td>
                <td class="s10"></td>
                <td class="s10"></td>
                <td class="s11" colspan="2">(กรุณาเขียนตัวบรรจง)</td>
                <td class="s10"></td>
                <td class="s10"></td>
            </tr>
            <tr style="height: 29px">
                <td class="s13">วันที่ :</td>
                <td class="s14" colspan="2"></td>
                <td class="s10"></td>
                <td class="s10"></td>
                <td class="s13">วันที่ :</td>
                <td class="s14" colspan="2"></td>
                <td class="s10"></td>
                <td class="s10"></td>
            </tr>
            <tr style="height: 29px">
                <td class="s15"></td>
                <td class="s15"></td>
                <td class="s15"></td>
                <td class="s15"></td>
                <td class="s15"></td>
                <td class="s15"></td>
                <td class="s15"></td>
                <td class="s15"></td>
                <td class="s15"></td>
                <td class="s15"></td>
            </tr>
            <tr style="height: 29px">
                <td class="s15"></td>
                <td class="s15"></td>
                <td class="s15"></td>
                <td class="s15"></td>
                <td class="s15"></td>
                <td class="s15"></td>
                <td class="s15"></td>
                <td class="s15"></td>
                <td class="s15"></td>
                <td class="s15"></td>
            </tr>
            <tr style="height: 29px">
                <td class="s15"></td>
                <td class="s16" dir="ltr" colspan="5">ผู้รับบริการกรุณาตรวจสอบและยืนยันการได้รับบริการแล้ว</td>
                <td class="s16"></td>
                <td class="s16"></td>
                <td class="s16"></td>
                <td class="s16"></td>
            </tr>
            <tr style="height: 29px">
                <td class="s17">หมายเหตุ :</td>
                <td class="s16" colspan="9">หากพนักงานไม่ได้เดินทางไปติดตั้ง
                    พนักงานเซ็นยืนยันจบสิ้นงานหลังจากได้รับการยืนยันจากลูกค้าว่าเครื่อง / ระบบสามารถใช้งานได้แล้ว</td>
            </tr>
        </tbody>
    </table>
</div>