<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link type="text/css" rel="stylesheet" href="resources/sheet.css">
<style type="text/css">
    .ritz .waffle a {
        color: inherit;
    }

    .ritz .waffle .s18 {
        background-color: #ffffff;
        text-align: right;
        color: #000000;
        font-family: docs-Sarabun, Arial;
        font-size: 11pt;
        vertical-align: bottom;
        white-space: nowrap;
        direction: ltr;
        padding: 2px 3px 2px 3px;
    }

    .ritz .waffle .s5 {
        background-color: #ffffff;
        text-align: left;
        color: #000000;
        font-family: docs-Sarabun, Arial;
        font-size: 12pt;
        vertical-align: bottom;
        white-space: nowrap;
        direction: ltr;
        padding: 2px 3px 2px 3px;
    }

    .ritz .waffle .s11 {
        border-bottom: 1px SOLID #000000;
        border-right: 1px SOLID #000000;
        background-color: #ffffff;
        text-align: left;
        color: #000000;
        font-family: docs-Sarabun, Arial;
        font-size: 12pt;
        vertical-align: middle;
        white-space: nowrap;
        direction: ltr;
        padding: 2px 3px 2px 3px;
    }

    .ritz .waffle .s14 {
        border-right: 1px SOLID #000000;
        background-color: #ffffff;
        text-align: center;
        color: #000000;
        font-family: docs-Sarabun, Arial;
        font-size: 12pt;
        vertical-align: middle;
        white-space: nowrap;
        direction: ltr;
        padding: 2px 3px 2px 3px;
    }

    .ritz .waffle .s8 {
        border-bottom: 1px SOLID #000000;
        background-color: #ffffff;
    }

    .ritz .waffle .s6 {
        background-color: #ffffff;
        text-align: right;
        color: #000000;
        font-family: docs-Sarabun, Arial;
        font-size: 12pt;
        vertical-align: bottom;
        white-space: nowrap;
        direction: ltr;
        padding: 2px 3px 2px 3px;
    }

    .ritz .waffle .s17 {
        background-color: #ffffff;
        text-align: left;
        color: #000000;
        font-family: docs-Sarabun, Arial;
        font-size: 10pt;
        vertical-align: bottom;
        white-space: nowrap;
        direction: ltr;
        padding: 2px 3px 2px 3px;
    }

    .ritz .waffle .s7 {
        background-color: #ffffff;
        text-align: center;
        color: #000000;
        font-family: docs-Sarabun, Arial;
        font-size: 12pt;
        vertical-align: bottom;
        white-space: nowrap;
        direction: ltr;
        padding: 2px 3px 2px 3px;
    }

    .ritz .waffle .s3 {
        background-color: #ffffff;
        text-align: center;
        font-weight: bold;
        color: #000000;
        font-family: docs-Sarabun, Arial;
        font-size: 20pt;
        vertical-align: middle;
        white-space: nowrap;
        direction: ltr;
        padding: 2px 3px 2px 3px;
    }

    .ritz .waffle .s4 {
        background-color: #ffffff;
        text-align: center;
        color: #000000;
        font-family: docs-Sarabun, Arial;
        font-size: 12pt;
        vertical-align: middle;
        white-space: nowrap;
        direction: ltr;
        padding: 2px 3px 2px 3px;
    }

    .ritz .waffle .s16 {
        border-bottom: 1px SOLID #000000;
        border-right: 1px SOLID #000000;
        background-color: #ffffff;
        text-align: center;
        color: #000000;
        font-family: docs-Sarabun, Arial;
        font-size: 12pt;
        vertical-align: middle;
        white-space: nowrap;
        direction: ltr;
        padding: 2px 3px 2px 3px;
    }

    .ritz .waffle .s19 {
        background-color: #ffffff;
        text-align: left;
        color: #000000;
        font-family: docs-Sarabun, Arial;
        font-size: 11pt;
        vertical-align: bottom;
        white-space: nowrap;
        direction: ltr;
        padding: 2px 3px 2px 3px;
    }

    .ritz .waffle .s9 {
        border-bottom: 1px SOLID #000000;
        border-right: 1px SOLID #000000;
        background-color: #ffffff;
        text-align: center;
        font-weight: bold;
        color: #000000;
        font-family: docs-Sarabun, Arial;
        font-size: 12pt;
        vertical-align: middle;
        white-space: nowrap;
        direction: ltr;
        padding: 2px 3px 2px 3px;
    }

    .ritz .waffle .s13 {
        border-right: 1px SOLID #000000;
        background-color: #ffffff;
        text-align: center;
        color: #000000;
        font-family: docs-Sarabun, Arial;
        font-size: 12pt;
        vertical-align: middle;
        white-space: normal;
        overflow: hidden;
        word-wrap: break-word;
        direction: ltr;
        padding: 2px 3px 2px 3px;
    }

    .ritz .waffle .s1 {
        background-color: #ffffff;
        text-align: right;
        color: #000000;
        font-family: docs-Sarabun, Arial;
        font-size: 10pt;
        vertical-align: middle;
        white-space: nowrap;
        direction: ltr;
        padding: 2px 3px 2px 3px;
    }

    .ritz .waffle .s0 {
        background-color: #ffffff;
        text-align: left;
        color: #000000;
        font-family: docs-Sarabun, Arial;
        font-size: 10pt;
        vertical-align: middle;
        white-space: nowrap;
        direction: ltr;
        padding: 0;
    }

    .ritz .waffle .s15 {
        border-bottom: 1px SOLID #000000;
        border-right: 1px SOLID #000000;
        background-color: #ffffff;
        text-align: left;
        color: #000000;
        font-family: docs-Sarabun, Arial;
        font-size: 10pt;
        vertical-align: middle;
        white-space: nowrap;
        direction: ltr;
        padding: 2px 3px 2px 3px;
    }

    .ritz .waffle .s12 {
        border-bottom: 1px SOLID #000000;
        border-right: 1px SOLID #000000;
        background-color: #ffffff;
        text-align: left;
        color: #000000;
        font-family: docs-Sarabun, Arial;
        font-size: 10pt;
        vertical-align: bottom;
        white-space: nowrap;
        direction: ltr;
        padding: 2px 3px 2px 3px;
    }

    .ritz .waffle .s2 {
        background-color: #ffffff;
        text-align: right;
        color: #000000;
        font-family: docs-Sarabun, Arial;
        font-size: 10pt;
        vertical-align: bottom;
        white-space: nowrap;
        direction: ltr;
        padding: 2px 3px 2px 3px;
    }

    .ritz .waffle .s10 {
        border-right: 1px SOLID #000000;
        background-color: #ffffff;
        text-align: left;
        color: #000000;
        font-family: docs-Sarabun, Arial;
        font-size: 10pt;
        vertical-align: middle;
        white-space: nowrap;
        direction: ltr;
        padding: 2px 3px 2px 3px;
    }
</style><svg style="display:none;" width="16px" height="16px" viewBox="0 0 16 16" version="1.1"
    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <defs>
        <path id="checked-checkbox-id"
            d="M17,3 L4.75,3 C3.77875,3 3,3.7875 3,4.75 L3,17 C3,17.9625 3.77875,18.75 4.75,18.75 L17,18.75 C17.97125,18.75 18.75,17.9625 18.75,17 L18.75,4.75 C18.75,3.7875 17.97125,3 17,3 L17,3 Z M9.125,15.25 L4.75,10.875 L5.98375,9.64125 L9.125,12.77375 L15.76625,6.1325 L17,7.375 L9.125,15.25 L9.125,15.25 Z"
            transform="translate(-3.000000, -3.000000)"></path>
        <path id="unchecked-checkbox-id"
            d="M17,3.75 L17,16 L4.75,16 L4.75,3.75 L17,3.75 L17,3.75 Z M17,2 L4.75,2 C3.7875,2 3,2.7875 3,3.75 L3,16 C3,16.9625 3.7875,17.75 4.75,17.75 L17,17.75 C17.9625,17.75 18.75,16.9625 18.75,16 L18.75,3.75 C18.75,2.7875 17.9625,2 17,2 L17,2 Z"
            transform="translate(-3.000000, -2.000000)"></path>
    </defs>
</svg>
<div class="ritz grid-container" dir="ltr">
    <table class="waffle" cellspacing="0" cellpadding="0">
        <tbody>
            <tr style="height: 24px">
                <th id="1375700970R0" style="height: 24px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 24px"></div>
                </th>
                <td class="s0" colspan="3" rowspan="4">
                    <div style="width:331px;height:99px;"><img
                            src="https://lh7-rt.googleusercontent.com/sheetsz/AHOq17EAIk0wilKJPcBT2C5xoAHDdXHEaqVKxeWHdPR4OEjJt0ew52xiXbvh7I-HXAYcb5VRCC5ofIOiehHTwEAM-DV72BVFLGg2rZZ377xi452jqqFCrvAkDw8_F6SDGJAsQkMlseI9=w331-h99?key=KzO8bHvqjrovC61xn0BgFvWk"
                            style="width:inherit;height:inherit;object-fit:scale-down;object-position:left center;" />
                    </div>
                </td>
                <td></td>
                <td class="s1" dir="ltr"></td>
                <td class="s1" dir="ltr"></td>
                <td class="s2"></td>
                <td class="s2"></td>
                <td class="s2" colspan="5">บริษัท ออฟฟิศดีไซน์ จำกัด (สำนักงานใหญ่)</td>
            </tr>
            <tr style="height: 24px">
                <th id="1375700970R1" style="height: 24px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 24px"></div>
                </th>
                <td></td>
                <td class="s1" dir="ltr"></td>
                <td class="s1" dir="ltr"></td>
                <td class="s2"></td>
                <td class="s2"></td>
                <td class="s2" colspan="5">เลขที่ 304 อาคาร วานิชเพลส อารีย์ ห้องเลขที่ 2208 ชั้นที่ 22</td>
            </tr>
            <tr style="height: 24px">
                <th id="1375700970R2" style="height: 24px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 24px"></div>
                </th>
                <td></td>
                <td class="s1" dir="ltr"></td>
                <td class="s1" dir="ltr"></td>
                <td class="s2"></td>
                <td class="s2" colspan="6">ถนน พหลโยธิน แขวงสามเสนใน เขตพญาไท กรุงเทพมหานคร 10400</td>
            </tr>
            <tr style="height: 24px">
                <th id="1375700970R3" style="height: 24px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 24px"></div>
                </th>
                <td></td>
                <td class="s1" dir="ltr"></td>
                <td class="s1" dir="ltr"></td>
                <td class="s2"></td>
                <td class="s2"></td>
                <td class="s2" colspan="5">เลขประจำตัวผู้เสียภาษี 0105547064270</td>
            </tr>
            <tr style="height: 24px">
                <th id="1375700970R4" style="height: 24px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 24px"></div>
                </th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="s1" dir="ltr"></td>
                <td class="s1" dir="ltr"></td>
                <td class="s2"></td>
                <td class="s2"></td>
                <td class="s2" colspan="5">โทร : 02-623-1515</td>
            </tr>
            <tr style="height: 20px">
                <th id="1375700970R5" style="height: 20px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 20px"></div>
                </th>
                <td class="s3" dir="ltr" colspan="13" rowspan="2">เอกสารการฝึกอบรมผู้ใช้งานระบบ Queue</td>
            </tr>
            <tr style="height: 20px">
                <th id="1375700970R6" style="height: 20px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 20px"></div>
                </th>
            </tr>
            <tr style="height: 26px">
                <th id="1375700970R7" style="height: 26px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 26px"></div>
                </th>
                <td class="s4" dir="ltr" colspan="13">เอกสารภายนอกบริษัท</td>
            </tr>
            <tr style="height: 29px">
                <th id="1375700970R8" style="height: 29px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 29px"></div>
                </th>
                <td class="s5"></td>
                <td class="s5"></td>
                <td class="s5"></td>
                <td class="s5"></td>
                <td class="s5"></td>
                <td class="s5"></td>
                <td class="s6"></td>
                <td class="s6" dir="ltr"></td>
                <td class="s6" dir="ltr">เอกสารเลขที่ :</td>
                <td class="s6" dir="ltr" colspan="4"></td>
            </tr>
            <tr style="height: 29px">
                <th id="1375700970R9" style="height: 29px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 29px"></div>
                </th>
                <td class="s5"></td>
                <td class="s5"></td>
                <td class="s5"></td>
                <td class="s5"></td>
                <td class="s5"></td>
                <td class="s5"></td>
                <td class="s6"></td>
                <td class="s6" dir="ltr"></td>
                <td class="s6" dir="ltr"></td>
                <td class="s6" dir="ltr"></td>
                <td class="s6" dir="ltr"></td>
                <td class="s6" dir="ltr"></td>
                <td class="s6" dir="ltr"></td>
            </tr>
            <tr style="height: 29px">
                <th id="1375700970R10" style="height: 29px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 29px"></div>
                </th>
                <td class="s6" dir="ltr">บริษัท / ร้าน : </td>
                <td class="s5" colspan="3"></td>
                <td class="s6" dir="ltr">สาขา : </td>
                <td class="s5" colspan="2"></td>
                <td class="s6" dir="ltr"></td>
                <td class="s6" dir="ltr">โทร :</td>
                <td class="s5" colspan="4"></td>
            </tr>
            <tr style="height: 29px">
                <th id="1375700970R11" style="height: 29px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 29px"></div>
                </th>
                <td class="s6" dir="ltr">สถานที่ :</td>
                <td class="s6" colspan="6"></td>
                <td class="s6" dir="ltr" colspan="2">จำนวนผู้เข้าอบรม :</td>
                <td class="s7" dir="ltr" colspan="3"></td>
                <td class="s5">คน</td>
            </tr>
            <tr style="height: 29px">
                <th id="1375700970R12" style="height: 29px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 29px"></div>
                </th>
                <td class="s6" dir="ltr">วันที่ :</td>
                <td class="s5"></td>
                <td class="s5"></td>
                <td class="s6" dir="ltr">เวลาเริ่ม :</td>
                <td class="s5"></td>
                <td class="s6" dir="ltr">เวลาสิ้นสุด :</td>
                <td class="s5"></td>
                <td class="s6" dir="ltr" colspan="2">บันทึก VDO การสอนให้ลูกค้า :</td>
                <td class="s4" dir="ltr"><svg width="16px" height="16px" viewBox="0 0 16 16" style="display:inline;">
                        <use href="#unchecked-checkbox-id" fill="#000000" />
                    </svg></td>
                <td class="s5">ทำแล้ว</td>
                <td class="s4" dir="ltr"><svg width="16px" height="16px" viewBox="0 0 16 16" style="display:inline;">
                        <use href="#unchecked-checkbox-id" fill="#000000" />
                    </svg></td>
                <td class="s5">ไม่ได้ทำ</td>
            </tr>
            <tr style="height: 29px">
                <th id="1375700970R13" style="height: 29px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 29px"></div>
                </th>
                <td class="s8"></td>
                <td class="s8"></td>
                <td class="s8"></td>
                <td class="s8"></td>
                <td class="s8"></td>
                <td class="s8"></td>
                <td class="s8"></td>
                <td class="s8"></td>
                <td class="s8"></td>
                <td class="s8"></td>
                <td class="s8"></td>
                <td class="s8"></td>
                <td class="s8"></td>
            </tr>
            <tr style="height: 59px">
                <th id="1375700970R14" style="height: 59px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 59px"></div>
                </th>
                <td class="s9" colspan="2">หัวข้อ</td>
                <td class="s9" colspan="10">รายละเอียด</td>
                <td class="s9">สถานะ</td>
            </tr>
            <tr style="height: 29px">
                <th id="1375700970R15" style="height: 29px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 29px"></div>
                </th>
                <td class="s10" colspan="2" rowspan="4"></td>
                <td class="s11" colspan="10"> อธิบายรายละเอียดของปุ่มต่างๆ ในหน้าจอ</td>
                <td class="s12"></td>
            </tr>
            <tr style="height: 29px">
                <th id="1375700970R16" style="height: 29px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 29px"></div>
                </th>
                <td class="s11" colspan="10"> รับคิว / จองคิว</td>
                <td class="s12"></td>
            </tr>
            <tr style="height: 29px">
                <th id="1375700970R17" style="height: 29px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 29px"></div>
                </th>
                <td class="s11" colspan="10"> พิมพ์บิลซ้ำ</td>
                <td class="s12"></td>
            </tr>
            <tr style="height: 29px">
                <th id="1375700970R18" style="height: 29px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 29px"></div>
                </th>
                <td class="s11" colspan="10"> เรียกคิว</td>
                <td class="s12"></td>
            </tr>
            <tr style="height: 29px">
                <th id="1375700970R19" style="height: 29px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 29px"></div>
                </th>
                <td class="s13" colspan="2">สอนการใช้งานระบบคิวสำหรับ</td>
                <td class="s11" colspan="10"> การกดเอาคิวเข้าร้าน</td>
                <td class="s12"></td>
            </tr>
            <tr style="height: 29px">
                <th id="1375700970R20" style="height: 29px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 29px"></div>
                </th>
                <td class="s14" colspan="2">พนักงานหน้าร้าน</td>
                <td class="s11" colspan="10"> ยกเลิกคิว</td>
                <td class="s12"></td>
            </tr>
            <tr style="height: 29px">
                <th id="1375700970R21" style="height: 29px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 29px"></div>
                </th>
                <td class="s15" colspan="2" rowspan="5"></td>
                <td class="s11" colspan="10"> การเรียกคิวไปต่อแถวใหม่</td>
                <td class="s12"></td>
            </tr>
            <tr style="height: 29px">
                <th id="1375700970R22" style="height: 29px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 29px"></div>
                </th>
                <td class="s11" colspan="10"> ทดสอบคิวก่อนเปิดร้าน</td>
                <td class="s12"></td>
            </tr>
            <tr style="height: 29px">
                <th id="1375700970R23" style="height: 29px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 29px"></div>
                </th>
                <td class="s11" colspan="10"> ล้างคิว</td>
                <td class="s12"></td>
            </tr>
            <tr style="height: 29px">
                <th id="1375700970R24" style="height: 29px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 29px"></div>
                </th>
                <td class="s11" colspan="10"> กำหนดคิวเองจากแอป KIOSK และ Staff</td>
                <td class="s12"></td>
            </tr>
            <tr style="height: 29px">
                <th id="1375700970R25" style="height: 29px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 29px"></div>
                </th>
                <td class="s11" colspan="10"> เช็ก Printer</td>
                <td class="s12"></td>
            </tr>
            <tr style="height: 29px">
                <th id="1375700970R26" style="height: 29px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 29px"></div>
                </th>
                <td class="s10" colspan="2"></td>
                <td class="s11" colspan="10"> การจองคิว</td>
                <td class="s12"></td>
            </tr>
            <tr style="height: 29px">
                <th id="1375700970R27" style="height: 29px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 29px"></div>
                </th>
                <td class="s14" colspan="2">การใช้งานระบบคิว</td>
                <td class="s11" colspan="10"> การดูการเรียกคิว</td>
                <td class="s12"></td>
            </tr>
            <tr style="height: 29px">
                <th id="1375700970R28" style="height: 29px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 29px"></div>
                </th>
                <td class="s14" colspan="2">สำหรับลูกค้า</td>
                <td class="s11" colspan="10"> การยกเลิกคิว</td>
                <td class="s12"></td>
            </tr>
            <tr style="height: 29px">
                <th id="1375700970R29" style="height: 29px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 29px"></div>
                </th>
                <td class="s15" colspan="2"></td>
                <td class="s11" colspan="10"> การส่งต่อคิวให้คนอื่น</td>
                <td class="s12"></td>
            </tr>
            <tr style="height: 29px">
                <th id="1375700970R30" style="height: 29px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 29px"></div>
                </th>
                <td class="s16" colspan="2">การดูรายงาน HQ</td>
                <td class="s11" colspan="10"> ดูรายงานจองคิว</td>
                <td class="s12"></td>
            </tr>
            <tr style="height: 29px">
                <th id="1375700970R31" style="height: 29px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 29px"></div>
                </th>
                <td class="s17"></td>
                <td class="s17"></td>
                <td class="s17"></td>
                <td class="s17"></td>
                <td class="s17"></td>
                <td class="s17"></td>
                <td class="s17"></td>
                <td class="s17"></td>
                <td class="s17"></td>
                <td class="s17"></td>
                <td class="s17"></td>
                <td class="s17"></td>
                <td class="s17"></td>
            </tr>
            <tr style="height: 29px">
                <th id="1375700970R32" style="height: 29px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 29px"></div>
                </th>
                <td class="s17"></td>
                <td class="s17"></td>
                <td class="s17"></td>
                <td class="s17"></td>
                <td class="s17"></td>
                <td class="s17"></td>
                <td class="s17"></td>
                <td class="s17"></td>
                <td class="s17"></td>
                <td class="s17"></td>
                <td class="s17"></td>
                <td class="s17"></td>
                <td class="s17"></td>
            </tr>
            <tr style="height: 29px">
                <th id="1375700970R33" style="height: 29px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 29px"></div>
                </th>
                <td class="s5" dir="ltr" colspan="13">บันทึกเพิ่มเติม :
                    ......................................................................................................................................................................................................................................................................
                </td>
            </tr>
            <tr style="height: 29px">
                <th id="1375700970R34" style="height: 29px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 29px"></div>
                </th>
                <td class="s5" dir="ltr" colspan="13">
                    ................................................................................................................................................................................................................................................................................................
                </td>
            </tr>
            <tr style="height: 29px">
                <th id="1375700970R35" style="height: 29px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 29px"></div>
                </th>
                <td class="s5" dir="ltr" colspan="13">
                    ................................................................................................................................................................................................................................................................................................
                </td>
            </tr>
            <tr style="height: 29px">
                <th id="1375700970R36" style="height: 29px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 29px"></div>
                </th>
                <td class="s5" dir="ltr" colspan="13">
                    ................................................................................................................................................................................................................................................................................................
                </td>
            </tr>
            <tr style="height: 29px">
                <th id="1375700970R37" style="height: 29px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 29px"></div>
                </th>
                <td class="s17"></td>
                <td class="s17"></td>
                <td class="s17"></td>
                <td class="s17"></td>
                <td class="s17"></td>
                <td class="s17"></td>
                <td class="s17"></td>
                <td class="s17"></td>
                <td class="s17"></td>
                <td class="s17"></td>
                <td class="s17"></td>
                <td class="s17"></td>
                <td class="s17"></td>
            </tr>
            <tr style="height: 29px">
                <th id="1375700970R38" style="height: 29px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 29px"></div>
                </th>
                <td class="s18" dir="ltr">ผู้เข้าอบรม : </td>
                <td class="s19" colspan="5"></td>
                <td class="s18" dir="ltr">ตำแหน่ง :</td>
                <td class="s19" colspan="3"></td>
                <td class="s18" dir="ltr">วันที่ :</td>
                <td class="s19" colspan="2"></td>
            </tr>
            <tr style="height: 29px">
                <th id="1375700970R39" style="height: 29px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 29px"></div>
                </th>
                <td class="s18" dir="ltr">ผู้เข้าอบรม : </td>
                <td class="s19" colspan="5"></td>
                <td class="s18" dir="ltr">ตำแหน่ง :</td>
                <td class="s19" colspan="3"></td>
                <td class="s18" dir="ltr">วันที่ :</td>
                <td class="s19" colspan="2"></td>
            </tr>
            <tr style="height: 29px">
                <th id="1375700970R40" style="height: 29px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 29px"></div>
                </th>
                <td class="s18" dir="ltr">ผู้เข้าอบรม : </td>
                <td class="s19" colspan="5"></td>
                <td class="s18" dir="ltr">ตำแหน่ง :</td>
                <td class="s19" colspan="3"></td>
                <td class="s18" dir="ltr">วันที่ :</td>
                <td class="s19" colspan="2"></td>
            </tr>
            <tr style="height: 29px">
                <th id="1375700970R41" style="height: 29px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 29px"></div>
                </th>
                <td class="s18" dir="ltr">ผู้เข้าอบรม : </td>
                <td class="s19" colspan="5"></td>
                <td class="s18" dir="ltr">ตำแหน่ง :</td>
                <td class="s19" colspan="3"></td>
                <td class="s18" dir="ltr">วันที่ :</td>
                <td class="s19" colspan="2"></td>
            </tr>
            <tr style="height: 29px">
                <th id="1375700970R42" style="height: 29px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 29px"></div>
                </th>
                <td class="s18" dir="ltr">ผู้เข้าอบรม : </td>
                <td class="s19" colspan="5"></td>
                <td class="s18" dir="ltr">ตำแหน่ง :</td>
                <td class="s19" colspan="3"></td>
                <td class="s18" dir="ltr">วันที่ :</td>
                <td class="s19" colspan="2"></td>
            </tr>
            <tr style="height: 29px">
                <th id="1375700970R43" style="height: 29px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 29px"></div>
                </th>
                <td class="s19"></td>
                <td class="s19"></td>
                <td class="s19"></td>
                <td class="s19"></td>
                <td class="s19"></td>
                <td class="s19"></td>
                <td class="s19"></td>
                <td class="s19"></td>
                <td class="s19"></td>
                <td class="s19"></td>
                <td class="s19"></td>
                <td class="s19"></td>
                <td class="s19"></td>
            </tr>
            <tr style="height: 29px">
                <th id="1375700970R44" style="height: 29px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 29px"></div>
                </th>
                <td class="s18" dir="ltr">พนักงานผู้สอน : </td>
                <td class="s19" colspan="5"></td>
                <td class="s18" dir="ltr">ตำแหน่ง :</td>
                <td class="s19" colspan="3"></td>
                <td class="s18" dir="ltr">วันที่ :</td>
                <td class="s19" colspan="2"></td>
            </tr>
            <tr style="height: 29px">
                <th id="1375700970R45" style="height: 29px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 29px"></div>
                </th>
                <td class="s18" dir="ltr">พนักงานผู้สอน : </td>
                <td class="s19" colspan="5"></td>
                <td class="s18" dir="ltr">ตำแหน่ง :</td>
                <td class="s19" colspan="3"></td>
                <td class="s18" dir="ltr">วันที่ :</td>
                <td class="s19" colspan="2"></td>
            </tr>
        </tbody>
    </table>
</div>